# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor/*
!/vendor/hail812

# composer itself is not needed
composer.phar

# composer lock
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

web/upload/*
!web/upload/contract.docx
!web/upload/child_approval.docx
!web/upload/contarct_child.docx
